body{
  text-align: center;
}

.landing {
  padding: 50px 0;
  color: #000;
}

.container h1 {
  font-family: 'Libre Baskerville', serif;
  font-weight: 700;
  background: url("../static/images/divider.png") no-repeat bottom center;
  padding-bottom: 12px;
}

.landing p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 19px;
}

.banner {
  background: rgba(200,200,200,0.3);
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px; /* future proofing */
  -khtml-border-radius: 10px; /* for old Konqueror browsers */
}

.industries {
  background: #F5F5F5;
  padding: 90px 0;
}

.industries ul {
  text-align: left;
}
