{% extends "master.html" %}
{% block title %}About Me{% endblock %}
{% block content %}
<div>
  <p>
    <span class="tehword">Dr. Candice Norris-Brown,</span> LPC, NCC, is licensed by the state of Georgia as a Professional Counselor.
    Dr. Norris-Brown holds a Bachelor of Science in Psychology from Virginia State University,
    a Masters of Science Degree in Clinical Psychology from Virginia State University, Educational
    Specialist Degree in School and Guidance Counseling from the University of Georgia and a Doctorate
    of Philosophy in Counseling and Student Personnel Services from the University of Georgia.
    I am a compassionate counselor who focuses on individual strengths to build and foster healthy
    communication and relationships.  As a therapist, I am committed to helping empower you to better
    understand yourself and your behavior. With my encouragement and support we will work together
    to develop a more effective way of living a positive and productive life.
  </p>
  <p>
    I use Cognitive Behavior therapy and Solution Focused-Brief therapy treatment methods
    to help you lead a more fulfilling life. I welcome the opportunity to help you on your journey.
  </p>
  <div class="row-fluid">
    <div class="hero-unit span6">
      <h3><img src="http://opentextlearning.com/media/icon-certifications.png" />License &amp; Certifications</h3>
      <p>
        Licensed Professional Counselor<br />
        Nationally Certified Counselor<br />
        Professional School Counselor-L6<br />
      </p>
    </div>
    <div class="hero-unit span6">
      <h3><img src="http://www.dcat.org/Public/Images/Logos/DCAT%20Week%20'13/Icons/DW13-Icon-People.png"  width="50" height="50"/> Professional Memberships</h3>
      <p>
        Georgia School Counseling Association<br />
        American School Counseling Association<br />
        Advocacy Committee for Georgia School Counseling Association<br />
        American Counseling Association<br />
        State Advisory Panel For Special Education<br />
        Parent 2 Parent Mentor<br />
      </p>
    </div>
  </div>
</div>
{% endblock %}

{% block javascript %}
<script>
  function resizeHandler() {
    boxes = $('.hero-unit');
    for(var i=0;i< boxes.length;i++){
      $(boxes[i]).css("height", "auto");
    }
    if( $(window).width() >= 765 ) {
      maxHeight = Math.max.apply(
        Math, boxes.map(function() {
          return $(this).height();
      }).get());
      boxes.height(maxHeight);
    }
  };

  window.addEventListener("resize", resizeThrottler, false);
  var resizeTimeout;
  function resizeThrottler() {
    // ignore resize events as long as an actualResizeHandler execution is in the queue
    if ( !resizeTimeout ) {
      resizeTimeout = setTimeout(function() {
        resizeTimeout = null;
        resizeHandler();
       }, 66);
    }
  }
  $(document).ready(resizeHandler);
</script>
{% endblock %}
