{% extends "master.html" %}
{% block title %}Fees{% endblock %}
{% block content %}
<div>
<p class="lead">
  Payment for Services and Cancellation Policy<br />
  <small class="text-warning">**All charges are due at the time of service**</small>
</p>
<p>
  Clients are asked to pay for their counseling supervision and consulting
  services prior to the session beginning. This may include bringing payment
  “in hand” to your appointment. For those who wish to pay their bill I
  advance online, we use the secure services of paypal.com. Remember to
  print out your receipt for personal record.
</p>
<div class="hero-unit">
<h3>How to pay with <img src="https://www.paypalobjects.com/webstatic/i/sparta/logo/logo_paypal_106x29.png" alt="PayPal"></h3>
Simply enter information below and add your counseling session to your shopping cart! It’s that easy. A PayPal Payment Details page will open in a new browser window, displaying information about the transaction. You can even choose to pay for more than one session by making changes to the quantities section. On this same page you will be prompted to sign in to your existing PayPal account, create a new account, or simply “continue if you don’t have a existing account and do not wish to create one. After you choose your session quantity and you sign in to PayPal you will have the option “Message to Seller” – Please enter the session date(s) you are paying for in this box if you are paying for multiple sessions.
</div>
Online Payment Policy:
All appointments are subject to a 24-hour cancellation policy. If you pay for a counseling session and then cancel with 24-hour notice, the online payment will be applied to your next session. If you pay for a counseling session online ad do not attend and do not give 24 hours notice, your payment will not be refunded.
Counseling
Fee
Individual Counseling
$100 per 50 minute session
Family counseling
$120 per 60 minute session


Clinical Supervision
Fee
Individual
$70
Group
$60


Educational Consulting
Fee
Retainer
$250
Preparing for meetings, attending meetings etc.
$75 an hour
</div>
{% endblock %}
