<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  <link rel="stylesheet" type="text/css" media="screen" href="static/custom.css" />
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Libre+Baskerville:700|Open+Sans:400,800,700,600' rel='stylesheet' type='text/css'>
  <title>Home</title>
</head>
<body>
  <section class="landing" style="background-position: 0% 0px;">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>The PAIR Group</h1>
          <h2>Pairing the best candidates with the perfect openings</h2>
        </div>
      </div>
    </div>
  </section>
  <section class="about white">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>Our Process</h1>
          <p>
We are dedicated to providing the highest quality candidates with every company we work with.  By taking a hands on and personal approach, we are able to "pair" the right candidates with the right openings.  We know that a company is only as strong as it's employees and we make sure that each candidate not only possesses the required skills, but also fits into the company culture.  Let The PAIR Group be a resource for you and make sure that you are hiring the best and brightest candidates available.
          </p>
        </div>
      </div>
    </div>
  </section>
  <section class="industries white">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>Industries</h1>
        </div>
        <div class="col-md-3">
          <h4><i class="fa fa-wrench"></i> Construction</h4>
          <ul>
            <li>Civil Engineer</li>
            <li>Construction Engineer</li>
            <li>Construction Manager</li>
            <li>Designer</li>
            <li>Drafter</li>
            <li>Estimator</li>
            <li>Field Engineer</li>
            <li>Inspector</li>
            <li>Project Manager</li>
            <li>Safety Manager</li>
            <li>Site Manager</li>
            <li>Quality Manager/Inspector</li>
            <li>Superintendent</li>
          </ul>
        </div>
        <div class="col-md-3">
          <h4><i class="fa fa-cogs"></i> Engineering</h4>
          <ul>
            <li>Aerospace Engineer</li>
            <li>Application Engineer</li>
            <li>Controls Engineer</li>
            <li>Design Engineer</li>
            <li>Drafting/CAD Technician</li>
            <li>Electrical Engineer</li>
            <li>Electro-Mechanical Engineer</li>
            <li>Firmware Engineer</li>
            <li>Hardware Engineer</li>
            <li>HSE Engineer</li>
            <li>Industrial Engineer</li>
            <li>Manufacturing Engineer</li>
            <li>Mechanical Engineer</li>
            <li>Piping Designer/Engineer</li>
            <li>Process Engineer</li>
            <li>QA/QC</li>
            <li>Software Engineer</li>
            <li>Structural Engineer</li>
          </ul>
        </div>
        <div class="col-md-3">
          <h4><i class="fa fa-barcode"></i> Manufacturing</h4>
          <ul>
            <li>Assembler</li>
            <li>CNC Programmer</li>
            <li>Controller</li>
            <li>Customer Service</li>
            <li>Field Service</li>
            <li>General Manager</li>
            <li>Inspector</li>
            <li>Machinist/Operator</li>
            <li>Manufacturing Engineer</li>
            <li>Materials Manager</li>
            <li>Operations Manager</li>
            <li>Plant Manager</li>
            <li>Process Engineer</li>
            <li>QA/QC</li>
            <li>Tool &amp; Die Design</li>
          </ul>
        </div>
        <div class="col-md-3">
          <h4><i class="fa fa-desktop"></i> IT</h4>
          <ul>
            <li>Applications Engineer</li>
            <li>C, C++, C# Developer</li>
            <li>DBA</li>
            <li>Help Desk</li>
            <li>Hardware Engineer</li>
            <li>Java Developer</li>
            <li>.NET Devloper</li>
            <li>Network Engineer</li>
            <li>Programmer</li>
            <li>Software Engineer</li>
            <li>SQL Developer</li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section class="candidate white">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>Candidates</h1>
          <p>
Looking for the perfect position? Submit your resume and we'll respond as soon as possible.
          </p>
          <div class="row text-left">
            <div class="col-md-6">
              <form role="form">
                <div class="form-group">
                  <label class="sr-only" for="name">Name</label>
                  <input type="text" class="form-control" id="name" placeholder="Enter full name">
                </div>
                <div class="form-group">
                  <label class="sr-only" for="email">Email</label>
                  <input type="email" class="form-control" id="email" placeholder="Enter email">
                </div>
                <div class="form-group">
                  <label class="sr-only" for="phone">Phone</label>
                  <input type="email" class="form-control" id="phone" placeholder="Enter phone #">
                </div>
                <div class="form-group">
                  <label class="sr-only" for="resume">Resume</label>
                  <textarea class="form-control" rows="3" id="resume" placeholder="Paste resume"></textarea>
                </div>
                <div class="form-group">
                  <button type="button" class="btn btn-default btn-lg phone">
                    <span class="glyphicon glyphicon-thumbs-up"></span> Submit
                  </button>
                </div>
              </form>
            </div>
            <div class="irl col-md-6">
              <div class="row row-eq-height">
                <div class="col-md-1" style="margin: auto">
                  <i class="fa fa-globe fa-2x fa-align-center"></i>
                </div>
                <div class="col-md-11">
The PAIR Goup<br />
10515 Shallowford Rd<br />
Roswell, Ga 30075<br />
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <button type="button" class="btn btn-default btn-lg email">
                    <span class="glyphicon glyphicon-envelope"></span> info@pairstaffing.com
                  </button>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <button type="button" class="btn btn-default btn-lg phone">
                    <span class="glyphicon glyphicon-earphone"></span> (678) 642-3814
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js" ></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <script src="static/custom.js" ></script>
</body>
</html>
