<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="static/bower_components/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" media="screen" href="static/custom.css" />
  <link href='http://fonts.googleapis.com/css?family=Libre+Baskerville:700|Open+Sans:400,800,700,600' rel='stylesheet' type='text/css'>
  <title>Home</title>
</head>
<body>
  <section class="landing">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="jumbotron">
            <h1>The Pair Group</h1>
            <p>
  The PAIR Group provides staffing and consulting services in the Construction, Engineering, Manufacturing and IT industries.  We are dedicated to providing the highest quality candidates with every company we work with.  By taking a hands on and personal approach, we are able to "pair" the right candidates with the right openings.  We know that a company is only as strong as it's employees and we make sure that each candidate not only possesses the required skills, but also fits into the company culture.  Let The PAIR Group be a resource for you and make sure that you are hiring the best and brightest candidates available.
            </p>
          <div>
        </div>
      </div>
    </div>
  </section>
  <script src="static/bower_components/jquery/jquery.min.js" ></script>
  <script src="static/bower_components/jquery-backstretch/jquery.backstretch.min.js" ></script>
  <script src="static/bower_components/bootstrap/dist/js/bootstrap.min.js" ></script>
  <script src="static/custom.js" ></script>
</body>
</html>
