{% extends "master.html" %}
{% block title %}Supervision{% endblock %}
{% block content %}
<div>
  <p>
    <span class="tehword">Counselor Supervision</span> is a service provided to
      counseling program graduates and/or professional school counselors who
      are pursuing licensure as a Professional Counselor in the state of Georgia.
      Supervision is an interactive process intended to monitor the quality of client
      care, improve clinical skills, and facilitate professional growth. My personal
      approach to supervision is one of providing an environment of growth for a
      professional, to honestly evaluate his/her work performance, counseling
      skills and personal issues they bring into their practice. Supervision
      will be a mixture of case review, collaborative problem solving, chart
      review and support.  As your supervisor, I will serve as teacher, consultant,
      and evaluator.  We will work on accountability to ethics and best
      practice principles through reflecting together on your work.
  </p>
  <br />
  <p>
    What are the licensure requirements?
    <div class="well">
      <ul>
        <li>Successful completion of a Master’s or Specialist degree program that
          qualifies you to pursue licensure as a Professional Counselor in the
          State of Georgia.</li>
        <li>To learn more about these qualifications please visit the <a href='http://www.sos.state.ga.us/plb/counselors'>State
          of Georgia Composite Board of Professional Counselors, Social Workers
          and Marriage and Family Therapists</a>
        </li>
      </ul>
    </div>
  </p>
</div>
{% endblock %}
